<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  </style>

  <h1>Hello My Name is Eliana Koren:)</h1>
  <p style="color:crimson ; text-align:center; font-family: nobis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem labore quibusdam explicabo saepe libero quisquam provident similique doloremque porro veritatis, eaque amet, doloribus laudantium, beatae natus animi quia a expedita harum quas. Architecto esse deserunt ex expedita quia rem molestiae totam. Sunt, nobis iure ipsum animi aliquam dolor nisi, exercitationem consequuntur atque voluptates suscipit eaque. Itaque hic vero aspernatur tenetur, consequatur quasi exercitationem totam necessitatibus sapiente tempora dolores sunt veritatis iusto corporis reiciendis! Cupiditate esse, at beatae consectetur totam necessitatibus culpa ut perferendis, dignissimos tempora libero, obcaecati voluptates incidunt. Debitis et expedita asperiores sint eos nihil quis perferendis soluta minus?</p>