<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    text-align: center;
    color: blue;
  }
body{
  background-color: cornsilk;
}
  p {
    margin: 5px;
    font-size: large;
    font-style: italic;
    color: crimson;
    text-align: center;
  }
  </style>

  <h1 >זה פרויקט פרוס באנגולר</h1>
  <p >מה זה פרויקט פרוס? כמובן תקראו על זה במדריכים ותעשו בעצמיכם, כמובן אחרי שיש לכן חשבון אישי בגיט</p>
 <p>אנו מעלות את הפרויקט לגיט וכמובן מבצעות גם פריסה כדי שנוכל לקבל לינק לאתר שרץ</p>
<p>תעשו לפי ההוראות ותקראו בין לבין את העניין תבינו מעולה מה לעשות</p>
<p>כמובן שאפשר אח"כ לשנות ולהריץ אץ הפקודה שוב</p>
<p>שימו לב שפרויקט זה כתבתי לוקאלית על המחשב שלי והעליתי לגיט ושיתפתי לכן את הלינק וכל אחת יכולה לצפות בזה</p>
<p>שימו לב בכתובת שאתן רצות עליה שמופיע השם שלי</p>
<p>תוכלו כך לכתוב פרויקט שלם שרץ ולשתף אחרות</p>
<p>תעשו את זה ותעלו לפה לינקים שלכן שכולן יראו:)</p>
<h3>בהצלחה</h3>